:root{
    /*General*/
        --width-container: 30%;
        --height-container: 70vh;

    /*Login*/
        --bg-L-color: radial-gradient(circle at 50% -20.71%, #f4d7e0 0, #f5d7dd 6.25%, #f6d7db 12.5%, #f6d8d8 18.75%, #f6d8d5 25%, #f6d8d3 31.25%, #f5d9d1 37.5%, #f4d9cf 43.75%, #f2dacd 50%, #f0dbcc 56.25%, #eedcca 62.5%, #ecdcca 68.75%, #e9ddc9 75%, #e6dec9 81.25%, #e3dfca 87.5%, #e0e0ca 93.75%, #dde1cb 100%);
        --bg-L-form: rgba(255, 255, 255, 0.29);

    /*Register*/
        --bg-R-color: radial-gradient(circle at 50% -9.86%, #a1d9e8 0, #a3d8ec 5.56%, #a7d7ef 11.11%, #abd6f1 16.67%, #b0d5f3 22.22%, #b5d3f4 27.78%, #bbd2f4 33.33%, #c1d0f4 38.89%, #c7cff3 44.44%, #cdcdf2 50%, #d3cbf0 55.56%, #d9caed 61.11%, #dec8ea 66.67%, #e4c7e7 72.22%, #e8c6e3 77.78%, #ecc5de 83.33%, #f0c4da 88.89%, #f2c4d5 94.44%, #f5c3d0 100%);
        --bg-R-form: rgba(255, 255, 255, 0.29);

}

body{
    margin: 0;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-image: var(--bg-L-color)
}
.loginForm{
    height: 70vh;
    width: var(--width-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.userGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30%;
    width: 60%;
    justify-content: center;
}
.ISuser{
    font-size: 25px;
}
#Iuser{
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    height: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

.passGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30%;
    width: 60%;
    justify-content: center;
}
.ISpass{
    font-size: 25px;
}
#Ipasswor{
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    height: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

#Btnlogin{
    background-color: #18c0c0;
    border-radius: 10px;
    height: 10%;
    font-size: 20px;
    width: 40%;
}
/* FIN LOGIN  */

/* REGISTRO DE USUARIOS */
.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-image:  var(--bg-R-color);
}

.registerForm{
    height: 80vh;
    width: var(--width-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.GRuser{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 26%;
    width: 60%;
    justify-content: center;
}

.RSuser{
    font-size: 25px;
}
#Ruser{
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    height: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

.GRpass1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 26%;
    width: 60%;
    justify-content: center;
}

.RSpass{
    font-size: 25px;
}

#Rpasswor{
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    height: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

.Grpass2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 26%;
    width: 60%;
    justify-content: center;
}

.RSRpass{
    font-size: 25px;
}
#RCpasswor{
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    height: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

#BtnRegister{
    width: 40%;
    background-color: #18c0c0;
    border-radius: 10px;
    height: 10%;
    font-size: 20px;
}

#BtnRegister:hover{
    width: 40%;
    background-color: #18c0c0;
    border-radius: 10px;
    height: 10%;
    font-size: 20px;
    animation: expand 1s;

}

@keyframes expand{
    0%{width: 45%;}
    50%{width: 50%;}
    100%{width: 55%;}
}